.a1{
  width: 600px;
  height: 300px;
  border: 1px solid blue;
  margin-top: 50px;
  position: relative;
  background-image: url(R.jpg);
  background-position: center;
}

.a1 h1{
  position: absolute;
  top: 70px;
  left: 20px;
}

.a1 h2{
  position: absolute;
  bottom: 40px;
  right: 100px;
  color: white;
}

.c1{
  position: fixed;
  background-color: black;
  top: 60%;
  left: 8px;
  color: white;
}

.c1 a{
  color: white;
}